- chats.each do |chat|
  - if chat.user_id == current_user.id
    .row.border.pt-1{style: "background-color:#EEFFFF;"}
      .col-3.text-center
        .icon
          =link_to user_path(chat.user_id) do
            -if chat.user.image_icon.nil?
              -photo = 'no-image-icon.jpg'
              =image_tag photo, size: '50x50',class: 'shadow-lg bg-white.rounded'
            -else
              - photo = Settings.image_icon_url + chat.user.image_icon_id + '-thumbnail.'
              =image_tag photo, size: '50x50',class: 'shadow-lg bg-white.rounded'
          %br
            %span{style: "font-size: 5px;"}
              =chat.user.account_name
      .col.p-1
        .text.mr-auto
          %p= chat.message
        - if chat.user_id == current_user.id
          .d-btn
            =link_to '削除する',group_chat_path(chat.id), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "badge badge-pill badge-danger"
  - else
    .row.border.pt-1{style: "padding-left: 0px;background-color:#FFF;"}
      .col-3.text-center
        .icon
          =link_to user_path(chat.user_id) do
            -if chat.user.image_icon.nil?
              -photo = 'no-image-icon.jpg'
              =image_tag photo, size: '50x50',class: 'shadow-lg bg-white.rounded'
            -else
              - photo = Settings.image_icon_url + chat.user.image_icon_id + '-thumbnail.'
              =image_tag photo, size: '50x50',class: 'shadow-lg bg-white.rounded'
          %br
            %span{style: "font-size: 5px;"}
              =chat.user.account_name
      .col.p-1
        .text.mr-auto
          %p= chat.message
        - if chat.user_id == current_user.id
          .d-btn
            =link_to '削除する',group_chat_path(chat.id), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "badge badge-pill badge-danger"