- chats.each do |chat|
  - if chat.user_id == current_user.id
    .row.border.pt-1{style: "text-align: left; background-color:#EEFFFF;"}
      .col-2.text-center
        .icon
          =link_to user_path(chat.user_id) do
            - photo = Settings.image_icon_url + chat.user.image_icon_id + '-thumbnail.'
            =image_tag photo, size: '50x50',class: 'shadow-lg bg-white.rounded'
        %span.ml-2=chat.user.account_name
      .col.p-1
        .text.mr-auto
          %p= chat.message
        - if chat.user_id == current_user.id
          .d-btn
            =link_to '削除する',group_chat_path(chat.id), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "badge badge-pill badge-danger"
  - else
    .row.border.pt-1{style: "text-align: left; background-color:#FFF;"}
      .col-2.text-center
        .icon
          =link_to user_path(chat.user_id) do
            = attachment_image_tag(chat.user, :image_icon, :fill ,50,50,format: "png", fallback: "no-image-icon.jpg",class: 'shadow-lg bg-white.rounded')
        %span.ml-2=chat.user.account_name
      .col.p-1
        .text.mr-auto
          %p= chat.message
        - if chat.user_id == current_user.id
          .d-btn
            =link_to '削除する',group_chat_path(chat.id), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "badge badge-pill badge-danger"