- if obj.errors.any?
  #error_explanation
    %h3
      = I18n.t("errors.messages.not_saved",                 |
      count: obj.errors.count,                       |
      resource: obj.class.model_name.human.downcase) |
      -#= pluralize(obj.errors.count, "error")
      -#prohibited this obj from being saved:
    %ul
      - obj.errors.full_messages.each do |message|
        %li= message
/render 'layouts/errors', obj: @user
